.text-cstblue {
    color: #008fb9;
}

.text-ceo {
    text-align: right;
    font-family: HGP行書体;
}

.small-image {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.scroll-container section {
    scroll-snap-align: center;
    height: 100vh;
}

.scroll-container::-webkit-scrollbar {
    display: none;
    /* スクロールバーを非表示にする */
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
    /* 背景のぼかし */
    filter: blur(0px);
    
    /* 背景の透明度 */
    opacity: 0.1;
}